<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HiLo-Proxy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="max-lg:hidden backgroundBlob"></div>
    <div class="max-lg:hidden backgroundBlob2"></div>
    <div class="max-lg:hidden max-lg:bottom-[5%] backgroundBlob3"></div>
    <div class="main__keyGenerator--parent max-sm:w-[310px] mt-[80px] ">
        <div class="status__page--container max-sm:w-[310px] relative">
            <div class="status__page--containerBlur absolute"></div>
            <h2 class="md:text-[42px] max-sm:text-[30px] text-[#A3D6E2] font-bold mt-6 ml-5">Witaj, Janek!</h2>
            <div class="w-[500px] my-2 flex justify-center">
                <div class="w-[480px] max-sm:w-[290px] h-[1px] bg-[#C1DBE144]"></div>
            </div>
            <div class="w-[500px] my-2 flex justify-center">
                <div class="w-[480px] max-sm:w-[290px] h-[1px] bg-[#C1DBE144]"></div>
            </div>
            <div class="flex items-center mt-5 mb-5 ml-5">
                <span class="text-[22px] text-[#A3D6E2] font-semiBold mr-5">Twój klucz SSH:</span>
                <span class="w-[250px] text-[20px] text-[#DFDFDF] whitespace-nowrap overflow-y-hidden status__page--spanScrollbar">AHSKJssa75sD8s6aczhczhSSS6a8c</span>
            </div>
            <div class="w-[500px] my-2 flex justify-center">
                <div class="w-[480px] max-sm:w-[290px] h-[1px] bg-[#C1DBE144]"></div>
            </div>
            <div class="flex items-center my-5 ml-5">
                <span class="text-[22px] text-[#A3D6E2] mr-5 font-semiBold">Twoja domena:</span>
                <span class="w-[250px] text-[20px] text-[#DFDFDF] whitespace-nowrap overflow-y-hidden status__page--spanScrollbar">www.janek.hi-lo.pl</span>
            </div>
            <div class="w-[500px] my-2 flex justify-center">
                <div class="w-[480px] max-sm:w-[290px] h-[1px] bg-[#C1DBE144]"></div>
            </div>
            <div class="flex items-center my-5 ml-5">
                <span class="text-[22px] text-[#A3D6E2] mr-5 font-semiBold">Status połączenia:</span>
                <div class="w-[13px] h-[13px] bg-[#22DD88] rounded-full"></div>
            </div>
            <div class="w-[500px] my-2 flex justify-center">
                <div class="w-[480px] max-sm:w-[290px] h-[1px] bg-[#C1DBE144]"></div>
            </div>
        </div>

    </div>
</body>

</html>